---
import Dashboard from "@/layouts/Dashboard.astro";
import { loadUserBlogsData } from "@/lib/utilsDB";
import { getDashboardContextOfTheBlog } from "@/lib/utilsDB";
import CreateBlogButton from "@/components/Blog/CreateBlogButton.astro";
import BlogCard from "@/components/BlogCard.astro";

const ctx = await getDashboardContextOfTheBlog(Astro);
if (ctx.redirect) return Astro.redirect(ctx.redirect);

const { lang, blogId, blogData, user } = ctx;

const blogs = await loadUserBlogsData(user?.id, Astro);
---

<Dashboard>
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between mb-8">
      <h1 class="text-3xl font-bold text-gray-900 dark:text-white">
        Your Blogs
      </h1>
      <div>
        <CreateBlogButton
          isAuthorized={Boolean(user?.id)}
          lang={String(lang)}
          hasBlogs={blogs.length > 0}
          userId={user?.id}
        />
      </div>
    </div>

    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {blogs.map((blog) => <BlogCard blogRedirect={`dashboard/${blog.id}`} {blog} lang={String(lang)} />)}
    </div>
  </div>
</Dashboard>
