---
import { getPostByTitle } from "@/lib/utilsDB";
import { DateDisplay } from "@/components/DateDisplay";
import CustomLayout from "@/layouts/CustomLayout.astro";
import { getLangFromUrl } from "@/i18n/utils";
import { renderEditorJsToHtml } from "@/lib/editorjs";
import { getBlogByTitlePublished } from "@/lib/utilsDB";
import { sanitizeString } from "@/lib/utils";

const lang = getLangFromUrl(Astro.url);

const blogTitle = Astro.url.pathname.split("/").filter(Boolean).at(-2);

if (!blogTitle) {
  return new Response("Blog title not found", { status: 404 });
}
const postTitle = sanitizeString(Astro.params.postTitle as string, 2);
const post = await getPostByTitle(String(postTitle), String(blogTitle));

if (!post || post.status !== "published") {
  return new Response("Post not found", { status: 404 });
}


const blog = await getBlogByTitlePublished(String(blogTitle));

if (!blog || blog.status !== "published") {
  return new Response("Blog not found", { status: 404 });
}
---

<CustomLayout
  {blog}
  title={post.title}
  description={post.description || ""}
  lang={lang}
>
  <div class="min-h-screen text-[--text-primary]">
    <article class="max-w-3xl mx-auto py-16">
      <!-- Título -->
      <h1
        class="text-4xl capitalize font-bold leading-tight tracking-tight mb-4 text-[--text-primary]"
      >
        {post.title}
      </h1>

      <!-- Meta info -->
      <div
        class="mb-10 text-sm text-[--helper] flex items-center gap-4 flex-wrap"
      >
        <DateDisplay date={post.created_at} />
      </div>

      <!-- Descrição -->
      {
        post.description && (
          <p class="text-lg text-[--text-primary] mb-8">
            {post.description}
          </p>
        )
      }

      <!-- Conteúdo renderizado -->
      <div
        class="prose prose-lg max-w-none dark:prose-invert prose-img:rounded-xl prose-headings:text-[--text-primary] prose-code:bg-[--secondary] prose-code:px-1.5 prose-code:py-1 prose-code:rounded-md"
      >
        <div set:html={renderEditorJsToHtml(post.content)} />
      </div>
    </article>
  </div>
</CustomLayout>
