---
import { getBlogByTitlePublished } from "@/lib/utilsDB";
import { getLangFromUrl } from "@/i18n/utils";
import CustomLayout from "@/layouts/CustomLayout.astro";
import { extractTextFromEditorJS } from "@/lib/editorjs";
import { DateDisplay } from "@/components/DateDisplay";

const lang = getLangFromUrl(Astro.url);
const blogTitle = Astro.params.blogTitle;

if (!blogTitle) {
  return new Response("Blog title not found", { status: 404 });
}

const blog = await getBlogByTitlePublished(String(blogTitle));

if (!blog || blog.status !== "published") {
  return new Response("Blog not found", { status: 404 });
}
---

<CustomLayout
  {blog}
  title={blog.title}
  description={blog.description || ""}
  {lang}
>
  <div class="min-h-screen text-[--text-primary]">
    <section class="max-w-7xl mx-auto pb-8">
      <div class="flex flex-col gap-4">
        {
          blog.posts?.length ? (
            blog.posts?.map((post) => (
              <a
                href={`/${lang}/${blogTitle}/${post.title_sanitized}`}
                class="group block rounded-lg bg-[--secondary] border-l-8 border-transparent hover:border-[--text-secondary] transition-all duration-300"
              >
                <div class="p-2">
                  <h2 class="text-xl font-semibold text-[--text-primary] capitalize mb-2">
                    <span>{post.title}</span>
                  </h2>
                  <p class="text-[--text-primary] mb-3 line-clamp-2">
                    {post.description ||
                      (post.content
                        ? extractTextFromEditorJS(post.content)
                        : "")}
                  </p>
                  <div class="flex items-center justify-between text-sm bg-[--text-secondary] p-1 rounded w-min">
                    <DateDisplay
                      date={String(post.created_at)}
                      className="text-[--text-primary]"
                    />
                  </div>
                </div>
              </a>
            ))
          ) : (
            <p>No posts available.</p>
          )
        }
      </div>
    </section>
  </div>
</CustomLayout>
