---
import { icons } from "./Editing/icons";

interface Props {
  name?: string;
  price?: number;
  period?: string;
  discount?: string;
  recommended?: boolean;
  subtitle?: string;
  features?: string[];
  buttonText?: string;
}

const {
  name,
  price,
  period,
  discount,
  recommended = false,
  subtitle,
  features,
  buttonText,
} = Astro.props;
---

<div
  class="flex flex-col rounded-lg shadow-lg bg-gradient-to-br from-[--noir-core] to-[--bg-color2] border hover:-translate-y-1 via-box/50 to-box border-transparent hover:border-[--secondary] hover:shadow-[--secondary] relative"
>
  {
    recommended && (
      <div class="absolute -top-6 left-1/2 -translate-x-1/2 px-6 py-3 bg-gradient-to-r from-[--primary] to-[--secondary] rounded-full shadow-lg z-10">
        <span class="text-sm font-bold text-[--blanc-core] whitespace-nowrap flex items-center gap-1">
          <span set:html={icons.starIA} />
          Recommended
        </span>
      </div>
    )
  }

  <div class="px-6 pt-10">
    <div class="flex flex-wrap items-center justify-between gap-2">
      <div class="flex items-center gap-2">
        <h3 class="m-0 text-2xl font-semibold text-[--blanc-core]">{name}</h3>
      </div>
      {
        discount && (
          <span class="px-3 py-1 text-sm text-[--blanc-core] bg-[--primary] rounded-full whitespace-nowrap">
            {discount}
          </span>
        )
      }
    </div>
    <div class="mt-4 flex items-baseline">
      <span class="text-5xl font-extrabold text-[--blanc-core]">{price}€</span>
      <span class="ml-1 text-xl text-[--blanc-core]">/{period}</span>
    </div>
    <p class="my-2 text-lg text-secondary/80">{subtitle}</p>
  </div>

  <div class="flex-1 px-6 pt-5 pb-8">
    <div class="h-full flex flex-col justify-between">
      <div class="grid gap-4">
        {
          features?.map((feature) => (
            <div class="flex gap-2 items-center">
              <div class="flex-shrink-0">
                <span set:html={icons.checkPricing} />
              </div>
              <p class="m-0 text-base text-[--blanc-core]">{feature}</p>
            </div>
          ))
        }
      </div>
      <div class="mt-8">
        <a
          href="#"
          class="block w-full px-6 py-3 text-center font-medium text-[--blanc-core] bg-gradient-to-r from-[--primary] to-[--secondary] rounded-md hover:opacity-90 transition-opacity"
        >
          {buttonText}
        </a>
      </div>
    </div>
  </div>
</div>
