---
import { signInToPublishBlog } from "@/lib/consts";
import { icons } from "./Editing/icons";
import LoginRegister from "./LoginRegister.astro";
import PublishDialog from "./Blog/PublishDialog.astro";
import type { BlogData } from "@/lib/types";

interface Props {
  id: string;
  blogData: BlogData;
  isAuthorized: boolean;
  lang: string;
}

const { id, blogData, isAuthorized, lang } = Astro.props;
---

<div>
  {
    isAuthorized ? (
      <PublishDialog {blogData} {lang} />
    ) : (
      <LoginRegister id={id} message={signInToPublishBlog} />
    )
  }
  <button
    onclick={`document.getElementById('${isAuthorized ? `publish-${blogData.id}` : id}').showModal()`}
    class="px-3 bg-gradient-to-r from-[--primary] to-[--secondary] text-white font-semibold rounded-lg shadow-md hover:shadow-lg transition-all duration-300 flex items-center gap-2"
  >
    <span set:html={icons.publish} />
    Publish
  </button>
</div>
