---
import FormattedDate from "@/components/FormattedDate.astro";
import Layout from "./Layout.astro";
import { getLangFromUrl } from "@/i18n/utils";
import type { BlogData } from "@/lib/types";

type Props = BlogData

const lang = getLangFromUrl(Astro.url);

const editing = Astro.url.searchParams.get("editing");
const hideHeaderFooter = true;

const { title, description, pubDate, updatedDate, image } = Astro.props;
---

<Layout {title} {description} {hideHeaderFooter} {lang}>
	<div class="blog-post-main">
		<article>
			{
				!editing && (
					<div class="hero-image">
						{image && (
							<img
								transition:name={title}
								width={1020}
								height={510}
								src={image}
								alt=""
							/>
						)}
					</div>
				)
			}
			<div class="prose">
				{
					!editing && (
						<div class="title">
							<div class="date">
								<FormattedDate date={pubDate} />
								{updatedDate && (
									<div class="last-updated-on">
										Last updated on{" "}
										<FormattedDate date={updatedDate} />
									</div>
								)}
							</div>
							<h1>{title}</h1>
							<hr />
						</div>
					)
				}
				<div>
					<slot />
				</div>
			</div>
		</article>
	</div>
</Layout>

<style>
	.blog-post-main {
		width: 100%;
		max-width: 100% !important;
		margin: 0;
	}
	.hero-image {
		width: 100%;
	}
	.hero-image img {
		display: block;
		margin: 0 auto;
		border-radius: 12px;
		box-shadow: var(--box-shadow);
	}
	.prose {
		padding: 1em;
		color: rgb(var(--gray-dark));
	}
	.title {
		margin-bottom: 1em;
		padding: 1em 0;
		text-align: center;
		line-height: 1;
	}
	.title h1 {
		margin: 0 0 0.5em 0;
	}
	.date {
		margin-bottom: 0.5em;
		color: rgb(var(--gray));
	}
	.last-updated-on {
		font-style: italic;
	}
</style>
